In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import json
import prettytable
import datetime as dt

In [2]:
cpi = pd.read_excel("data/cpi_data.xlsx",skiprows = 11)
income = pd.read_excel("data/income_data.xlsx",skiprows=7 )

C:\Users\kidsa\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,HALF1,HALF2
0,1913,9.8,9.8,9.8,9.8,9.7,9.8,9.9,9.9,10.0,10.0,10.1,10.0,NaN,NaN
1,1914,10.0,9.9,9.9,9.8,9.9,9.9,10.0,10.2,10.2,10.1,10.2,10.1,NaN,NaN
2,1915,10.1,10.0,9.9,10.0,10.1,10.1,10.1,10.1,10.1,10.2,10.3,10.3,NaN,NaN
3,1916,10.4,10.4,10.5,10.6,10.7,10.8,10.8,10.9,11.1,11.3,11.5,11.6,NaN,NaN
4,1917,11.7,12.0,12.0,12.6,12.8,13.0,12.8,13.0,13.3,13.5,13.5,13.7,NaN,NaN

,Size of family and year,Number (thousands),Median income,Unnamed: 3,Mean income,Unnamed: 5,Average size of family
0,NaN,NaN,Current\ndollars,2022\ndollars,Current\ndollars,2022\ndollars,NaN
1,2022,84350,92750,92750,126500,126500,3.15
2,2021,84280,88590,95530,121800,131400,3.13
3,2020 (41),83720,84350,95080,115300,130000,3.16
4,2019,83700,86010,97970,116700,133000,3.15
...,...,...,...,...,...,...,...
560,1951,2084,3541,32790,N,N,(X)
561,1950,1956,3208,32060,N,N,(X)
562,1949 (6),2119,3156,31930,N,N,(X)
563,1948,2113,3180,31780,N,N,(X)
564,1947 (5),2332,3268,35470,N,N,(X)

In [6]:

headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0','CUUR0100SA0','CUUR0200SA0','CUUR0300SA0','CUUR0400SA0'],"startyear":"2014","endyear":"2023"})
endpoint = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)

In [7]:
json_data = json.loads(endpoint.text)

In [8]:
json_data

{'status': 'REQUEST_SUCCEEDED',
 'responseTime': 454,
 'message': [],
 'Results': {'series': [{'seriesID': 'CUUR0000SA0',
    'data': [{'year': '2023',
      'period': 'M12',
      'periodName': 'December',
      'value': '306.746',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M11',
      'periodName': 'November',
      'value': '307.051',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M10',
      'periodName': 'October',
      'value': '307.671',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M09',
      'periodName': 'September',
      'value': '307.789',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M08',
      'periodName': 'August',
      'value': '307.026',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M07',
      'periodName': 'July',
      'value': '305.691',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M06',
      'periodName': 'June',
      'value': '305.109',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M05',
      'periodName': 'May',
      'value': '304.127',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M04',
      'periodName': 'April',
      'value': '303.363',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M03',
      'periodName': 'March',
      'value': '301.836',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M02',
      'periodName': 'February',
      'value': '300.840',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M01',
      'periodName': 'January',
      'value': '299.170',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M12',
      'periodName': 'December',
      'value': '296.797',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M11',
      'periodName': 'November',
      'value': '297.711',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M10',
      'periodName': 'October',
      'value': '298.012',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M09',
      'periodName': 'September',
      'value': '296.808',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M08',
      'periodName': 'August',
      'value': '296.171',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M07',
      'periodName': 'July',
      'value': '296.276',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M06',
      'periodName': 'June',
      'value': '296.311',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M05',
      'periodName': 'May',
      'value': '292.296',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M04',
      'periodName': 'April',
      'value': '289.109',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M03',
      'periodName': 'March',
      'value': '287.504',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M02',
      'periodName': 'February',
      'value': '283.716',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M01',
      'periodName': 'January',
      'value': '281.148',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M12',
      'periodName': 'December',
      'value': '278.802',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M11',
      'periodName': 'November',
      'value': '277.948',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M10',
      'periodName': 'October',
      'value': '276.589',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M09',
      'periodName': 'September',
      'value': '274.310',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M08',
      'periodName': 'August',
      'value': '273.567',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M07',
      'periodName': 'July',
      'value': '273.003',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M06',
      'periodName': 'June',
      'value': '271.696',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M05',
      'periodName': 'May',
      'value': '269.195',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M04',
      'periodName': 'April',
      'value': '267.054',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M03',
      'periodName': 'March',
      'value': '264.877',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M02',
      'periodName': 'February',
      'value': '263.014',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M01',
      'periodName': 'January',
      'value': '261.582',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M12',
      'periodName': 'December',
      'value': '260.474',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M11',
      'periodName': 'November',
      'value': '260.229',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M10',
      'periodName': 'October',
      'value': '260.388',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M09',
      'periodName': 'September',
      'value': '260.280',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M08',
      'periodName': 'August',
      'value': '259.918',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M07',
      'periodName': 'July',
      'value': '259.101',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M06',
      'periodName': 'June',
      'value': '257.797',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M05',
      'periodName': 'May',
      'value': '256.394',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M04',
      'periodName': 'April',
      'value': '256.389',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M03',
      'periodName': 'March',
      'value': '258.115',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M02',
      'periodName': 'February',
      'value': '258.678',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M01',
      'periodName': 'January',
      'value': '257.971',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M12',
      'periodName': 'December',
      'value': '256.974',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M11',
      'periodName': 'November',
      'value': '257.208',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M10',
      'periodName': 'October',
      'value': '257.346',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M09',
      'periodName': 'September',
      'value': '256.759',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M08',
      'periodName': 'August',
      'value': '256.558',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M07',
      'periodName': 'July',
      'value': '256.571',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M06',
      'periodName': 'June',
      'value': '256.143',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M05',
      'periodName': 'May',
      'value': '256.092',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M04',
      'periodName': 'April',
      'value': '255.548',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M03',
      'periodName': 'March',
      'value': '254.202',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M02',
      'periodName': 'February',
      'value': '252.776',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M01',
      'periodName': 'January',
      'value': '251.712',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M12',
      'periodName': 'December',
      'value': '251.233',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M11',
      'periodName': 'November',
      'value': '252.038',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M10',
      'periodName': 'October',
      'value': '252.885',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M09',
      'periodName': 'September',
      'value': '252.439',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M08',
      'periodName': 'August',
      'value': '252.146',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M07',
      'periodName': 'July',
      'value': '252.006',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M06',
      'periodName': 'June',
      'value': '251.989',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M05',
      'periodName': 'May',
      'value': '251.588',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M04',
      'periodName': 'April',
      'value': '250.546',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M03',
      'periodName': 'March',
      'value': '249.554',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M02',
      'periodName': 'February',
      'value': '248.991',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M01',
      'periodName': 'January',
      'value': '247.867',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M12',
      'periodName': 'December',
      'value': '246.524',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M11',
      'periodName': 'November',
      'value': '246.669',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M10',
      'periodName': 'October',
      'value': '246.663',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M09',
      'periodName': 'September',
      'value': '246.819',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M08',
      'periodName': 'August',
      'value': '245.519',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M07',
      'periodName': 'July',
      'value': '244.786',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M06',
      'periodName': 'June',
      'value': '244.955',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M05',
      'periodName': 'May',
      'value': '244.733',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M04',
      'periodName': 'April',
      'value': '244.524',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M03',
      'periodName': 'March',
      'value': '243.801',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M02',
      'periodName': 'February',
      'value': '243.603',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M01',
      'periodName': 'January',
      'value': '242.839',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M12',
      'periodName': 'December',
      'value': '241.432',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M11',
      'periodName': 'November',
      'value': '241.353',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M10',
      'periodName': 'October',
      'value': '241.729',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M09',
      'periodName': 'September',
      'value': '241.428',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M08',
      'periodName': 'August',
      'value': '240.849',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M07',
      'periodName': 'July',
      'value': '240.628',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M06',
      'periodName': 'June',
      'value': '241.018',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M05',
      'periodName': 'May',
      'value': '240.229',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M04',
      'periodName': 'April',
      'value': '239.261',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M03',
      'periodName': 'March',
      'value': '238.132',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M02',
      'periodName': 'February',
      'value': '237.111',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M01',
      'periodName': 'January',
      'value': '236.916',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M12',
      'periodName': 'December',
      'value': '236.525',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M11',
      'periodName': 'November',
      'value': '237.336',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M10',
      'periodName': 'October',
      'value': '237.838',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M09',
      'periodName': 'September',
      'value': '237.945',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M08',
      'periodName': 'August',
      'value': '238.316',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M07',
      'periodName': 'July',
      'value': '238.654',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M06',
      'periodName': 'June',
      'value': '238.638',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M05',
      'periodName': 'May',
      'value': '237.805',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M04',
      'periodName': 'April',
      'value': '236.599',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M03',
      'periodName': 'March',
      'value': '236.119',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M02',
      'periodName': 'February',
      'value': '234.722',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M01',
      'periodName': 'January',
      'value': '233.707',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M12',
      'periodName': 'December',
      'value': '234.812',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M11',
      'periodName': 'November',
      'value': '236.151',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M10',
      'periodName': 'October',
      'value': '237.433',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M09',
      'periodName': 'September',
      'value': '238.031',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M08',
      'periodName': 'August',
      'value': '237.852',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M07',
      'periodName': 'July',
      'value': '238.250',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M06',
      'periodName': 'June',
      'value': '238.343',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M05',
      'periodName': 'May',
      'value': '237.900',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M04',
      'periodName': 'April',
      'value': '237.072',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M03',
      'periodName': 'March',
      'value': '236.293',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M02',
      'periodName': 'February',
      'value': '234.781',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M01',
      'periodName': 'January',
      'value': '233.916',
      'footnotes': [{}]}]},
   {'seriesID': 'CUUR0100SA0',
    'data': [{'year': '2023',
      'period': 'M12',
      'periodName': 'December',
      'value': '316.143',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M11',
      'periodName': 'November',
      'value': '316.252',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M10',
      'periodName': 'October',
      'value': '316.300',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M09',
      'periodName': 'September',
      'value': '316.373',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M08',
      'periodName': 'August',
      'value': '315.441',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M07',
      'periodName': 'July',
      'value': '313.952',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M06',
      'periodName': 'June',
      'value': '313.329',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M05',
      'periodName': 'May',
      'value': '312.241',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M04',
      'periodName': 'April',
      'value': '311.848',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M03',
      'periodName': 'March',
      'value': '311.243',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M02',
      'periodName': 'February',
      'value': '311.986',
      'footnotes': [{}]},
     {'year': '2023',
      'period': 'M01',
      'periodName': 'January',
      'value': '310.323',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M12',
      'periodName': 'December',
      'value': '308.150',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M11',
      'periodName': 'November',
      'value': '308.394',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M10',
      'periodName': 'October',
      'value': '308.001',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M09',
      'periodName': 'September',
      'value': '307.152',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M08',
      'periodName': 'August',
      'value': '306.855',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M07',
      'periodName': 'July',
      'value': '305.916',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M06',
      'periodName': 'June',
      'value': '306.453',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M05',
      'periodName': 'May',
      'value': '302.939',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M04',
      'periodName': 'April',
      'value': '300.325',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M03',
      'periodName': 'March',
      'value': '298.403',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M02',
      'periodName': 'February',
      'value': '294.605',
      'footnotes': [{}]},
     {'year': '2022',
      'period': 'M01',
      'periodName': 'January',
      'value': '292.644',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M12',
      'periodName': 'December',
      'value': '290.405',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M11',
      'periodName': 'November',
      'value': '289.835',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M10',
      'periodName': 'October',
      'value': '288.236',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M09',
      'periodName': 'September',
      'value': '286.423',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M08',
      'periodName': 'August',
      'value': '285.630',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M07',
      'periodName': 'July',
      'value': '285.220',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M06',
      'periodName': 'June',
      'value': '284.741',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M05',
      'periodName': 'May',
      'value': '281.858',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M04',
      'periodName': 'April',
      'value': '280.234',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M03',
      'periodName': 'March',
      'value': '278.197',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M02',
      'periodName': 'February',
      'value': '276.473',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M01',
      'periodName': 'January',
      'value': '275.427',

In [9]:
df_2014_2023 = pd.DataFrame(columns = ['SeriesID','Period','Month','value'])

In [10]:
df_2014_2023

Empty DataFrame
Columns: [SeriesID, Period, Month, value]
Index: []

In [11]:
for series in json_data['Results']['series']:
    seriesID = series['seriesID']
    for item in series['data']:
        year = item['year']
        month = item['periodName']
        value = item['value']
        df_2014_2023.loc[len(df_2014_2023.index)] = [seriesID,year,month,value]

In [12]:
df_2014_2023

        SeriesID Period      Month    value
0    CUUR0000SA0   2023   December  306.746
1    CUUR0000SA0   2023   November  307.051
2    CUUR0000SA0   2023    October  307.671
3    CUUR0000SA0   2023  September  307.789
4    CUUR0000SA0   2023     August  307.026
..           ...    ...        ...      ...
595  CUUR0400SA0   2014        May  241.350
596  CUUR0400SA0   2014      April  239.808
597  CUUR0400SA0   2014      March  239.092
598  CUUR0400SA0   2014   February  237.614
599  CUUR0400SA0   2014    January  236.707

[600 rows x 4 columns]

In [13]:
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0','CUUR0100SA0','CUUR0200SA0','CUUR0300SA0','CUUR0400SA0'],"startyear":"2004","endyear":"2013"})
endpoint = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)

json_data = json.loads(endpoint.text)

df_2004_2013 = pd.DataFrame(columns = ['SeriesID','Period','Month','value'])

for series in json_data['Results']['series']:
    seriesID = series['seriesID']
    for item in series['data']:
        year = item['year']
        month = item['periodName']
        value = item['value']
        df_2004_2013.loc[len(df_2004_2013.index)] = [seriesID,year,month,value]

df_2004_2013

        SeriesID Period      Month    value
0    CUUR0000SA0   2013   December  233.049
1    CUUR0000SA0   2013   November  233.069
2    CUUR0000SA0   2013    October  233.546
3    CUUR0000SA0   2013  September  234.149
4    CUUR0000SA0   2013     August  233.877
..           ...    ...        ...      ...
595  CUUR0400SA0   2004        May    193.4
596  CUUR0400SA0   2004      April    192.3
597  CUUR0400SA0   2004      March    192.2
598  CUUR0400SA0   2004   February    190.8
599  CUUR0400SA0   2004    January    189.4

[600 rows x 4 columns]

In [14]:
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0','CUUR0100SA0','CUUR0200SA0','CUUR0300SA0','CUUR0400SA0'],"startyear":"1994","endyear":"2003"})
endpoint = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)

json_data = json.loads(endpoint.text)

df_1994_2003 = pd.DataFrame(columns = ['SeriesID','Period','Month','value'])

for series in json_data['Results']['series']:
    seriesID = series['seriesID']
    for item in series['data']:
        year = item['year']
        month = item['periodName']
        value = item['value']
        df_1994_2003.loc[len(df_1994_2003.index)] = [seriesID,year,month,value]

df_1994_2003

        SeriesID Period      Month  value
0    CUUR0000SA0   2003   December  184.3
1    CUUR0000SA0   2003   November  184.5
2    CUUR0000SA0   2003    October  185.0
3    CUUR0000SA0   2003  September  185.2
4    CUUR0000SA0   2003     August  184.6
..           ...    ...        ...    ...
595  CUUR0400SA0   1994        May  148.8
596  CUUR0400SA0   1994      April  148.9
597  CUUR0400SA0   1994      March  149.0
598  CUUR0400SA0   1994   February  148.3
599  CUUR0400SA0   1994    January  148.1

[600 rows x 4 columns]

In [15]:
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0','CUUR0100SA0','CUUR0200SA0','CUUR0300SA0','CUUR0400SA0'],"startyear":"1984","endyear":"1993"})
endpoint = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)

json_data = json.loads(endpoint.text)

df_1984_1993 = pd.DataFrame(columns = ['SeriesID','Period','Month','value'])

for series in json_data['Results']['series']:
    seriesID = series['seriesID']
    for item in series['data']:
        year = item['year']
        month = item['periodName']
        value = item['value']
        df_1984_1993.loc[len(df_1984_1993.index)] = [seriesID,year,month,value]

df_1984_1993

        SeriesID Period      Month  value
0    CUUR0000SA0   1993   December  145.8
1    CUUR0000SA0   1993   November  145.8
2    CUUR0000SA0   1993    October  145.7
3    CUUR0000SA0   1993  September  145.1
4    CUUR0000SA0   1993     August  144.8
..           ...    ...        ...    ...
523  CUUR0400SA0   1984    October  105.3
524  CUUR0400SA0   1984     August  104.2
525  CUUR0400SA0   1984       June  103.6
526  CUUR0400SA0   1984      April  102.6
527  CUUR0400SA0   1984   February  101.6

[528 rows x 4 columns]

In [16]:
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0','CUUR0100SA0','CUUR0200SA0','CUUR0300SA0','CUUR0400SA0'],"startyear":"1974","endyear":"1983"})
endpoint = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)

json_data = json.loads(endpoint.text)

df_1974_1983 = pd.DataFrame(columns = ['SeriesID','Period','Month','value'])

for series in json_data['Results']['series']:
    seriesID = series['seriesID']
    for item in series['data']:
        year = item['year']
        month = item['periodName']
        value = item['value']
        df_1974_1983.loc[len(df_1974_1983.index)] = [seriesID,year,month,value]

df_1974_1983

        SeriesID Period      Month  value
0    CUUR0000SA0   1983   December  101.3
1    CUUR0000SA0   1983   November  101.2
2    CUUR0000SA0   1983    October  101.0
3    CUUR0000SA0   1983  September  100.7
4    CUUR0000SA0   1983     August  100.2
..           ...    ...        ...    ...
323  CUUR0400SA0   1975      March   51.5
324  CUUR0400SA0   1974   December   50.4
325  CUUR0400SA0   1974  September   48.9
326  CUUR0400SA0   1974       June   47.4
327  CUUR0400SA0   1974      March   46.0

[328 rows x 4 columns]

In [17]:
df = pd.DataFrame(columns = ['SeriesID','Period','Month','value'])

In [18]:
df = df.merge(right = df_2014_2023,how = 'outer')
df = df.merge(right = df_2004_2013,how = 'outer')
df = df.merge(right = df_1994_2003,how = 'outer')
df = df.merge(right = df_1984_1993,how = 'outer')
df = df.merge(right = df_1974_1983,how = 'outer')
df

         SeriesID Period      Month    value
0     CUUR0000SA0   2023   December  306.746
1     CUUR0000SA0   2023   November  307.051
2     CUUR0000SA0   2023    October  307.671
3     CUUR0000SA0   2023  September  307.789
4     CUUR0000SA0   2023     August  307.026
...           ...    ...        ...      ...
2651  CUUR0400SA0   1975      March     51.5
2652  CUUR0400SA0   1974   December     50.4
2653  CUUR0400SA0   1974  September     48.9
2654  CUUR0400SA0   1974       June     47.4
2655  CUUR0400SA0   1974      March     46.0

[2656 rows x 4 columns]

In [27]:
df = df.rename(columns = {'SeriesID':'Region', 'value': 'CPI'})
df

                 Region Period      Month      CPI
0     U.S. city average   2023   December  306.746
1     U.S. city average   2023   November  307.051
2     U.S. city average   2023    October  307.671
3     U.S. city average   2023  September  307.789
4     U.S. city average   2023     August  307.026
...                 ...    ...        ...      ...
2651               West   1975      March     51.5
2652               West   1974   December     50.4
2653               West   1974  September     48.9
2654               West   1974       June     47.4
2655               West   1974      March     46.0

[2656 rows x 4 columns]

In [20]:
df['Region'].unique()

array(['CUUR0000SA0', 'CUUR0100SA0', 'CUUR0200SA0', 'CUUR0300SA0',
       'CUUR0400SA0'], dtype=object)

In [21]:
regions = {
    'CUUR0000SA0': "U.S. city average",
    'CUUR0100SA0': "Northeast",
    'CUUR0200SA0': "Midwest",
    'CUUR0300SA0': "South",
    'CUUR0400SA0': "West"
}

In [22]:
regions = []

In [23]:
df['Region'] = df['Region'].str.replace(
    'CUUR0000SA0', 'U.S. city average').str.replace(
    'CUUR0100SA0', 'Northeast').str.replace(
    'CUUR0200SA0', 'Midwest').str.replace(
    'CUUR0300SA0', 'South').str.replace(
    'CUUR0400SA0', 'West')

In [35]:
df.to_csv('data/cpi_by_region.csv')