In [1]:
# Importing necessary libraries
import numpy as np
import pandas as pd
import requests
import json
import prettytable
import datetime as dt

In [6]:
# The Bureau Labor of Statistics only allows 10 years to be scraped at a time
# So these are multiple calls to the public API to get all over the CPI by region data
# 2014 - 2023
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0','CUUR0100SA0','CUUR0200SA0','CUUR0300SA0','CUUR0400SA0'],"startyear":"2014","endyear":"2023"})
endpoint = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)

json_data = json.loads(endpoint.text)

df_2014_2023 = pd.DataFrame(columns = ['SeriesID','Period','Month','value'])

for series in json_data['Results']['series']:
    seriesID = series['seriesID']
    for item in series['data']:
        year = item['year']
        month = item['periodName']
        value = item['value']
        df_2014_2023.loc[len(df_2014_2023.index)] = [seriesID,year,month,value]

# 2004 - 2013        
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0','CUUR0100SA0','CUUR0200SA0','CUUR0300SA0','CUUR0400SA0'],"startyear":"2004","endyear":"2013"})
endpoint = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)

json_data = json.loads(endpoint.text)

df_2004_2013 = pd.DataFrame(columns = ['SeriesID','Period','Month','value'])

for series in json_data['Results']['series']:
    seriesID = series['seriesID']
    for item in series['data']:
        year = item['year']
        month = item['periodName']
        value = item['value']
        df_2004_2013.loc[len(df_2004_2013.index)] = [seriesID,year,month,value]

# 1994 - 2003
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0','CUUR0100SA0','CUUR0200SA0','CUUR0300SA0','CUUR0400SA0'],"startyear":"1994","endyear":"2003"})
endpoint = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)

json_data = json.loads(endpoint.text)

df_1994_2003 = pd.DataFrame(columns = ['SeriesID','Period','Month','value'])

for series in json_data['Results']['series']:
    seriesID = series['seriesID']
    for item in series['data']:
        year = item['year']
        month = item['periodName']
        value = item['value']
        df_1994_2003.loc[len(df_1994_2003.index)] = [seriesID,year,month,value]

# 1984 - 1993
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0','CUUR0100SA0','CUUR0200SA0','CUUR0300SA0','CUUR0400SA0'],"startyear":"1984","endyear":"1993"})
endpoint = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)

json_data = json.loads(endpoint.text)

df_1984_1993 = pd.DataFrame(columns = ['SeriesID','Period','Month','value'])

for series in json_data['Results']['series']:
    seriesID = series['seriesID']
    for item in series['data']:
        year = item['year']
        month = item['periodName']
        value = item['value']
        df_1984_1993.loc[len(df_1984_1993.index)] = [seriesID,year,month,value]

# 1974 - 1983
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0','CUUR0100SA0','CUUR0200SA0','CUUR0300SA0','CUUR0400SA0'],"startyear":"1974","endyear":"1983"})
endpoint = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)

json_data = json.loads(endpoint.text)

df_1974_1983 = pd.DataFrame(columns = ['SeriesID','Period','Month','value'])

for series in json_data['Results']['series']:
    seriesID = series['seriesID']
    for item in series['data']:
        year = item['year']
        month = item['periodName']
        value = item['value']
        df_1974_1983.loc[len(df_1974_1983.index)] = [seriesID,year,month,value]

In [17]:
# Create empty dataframe for future merges
df = pd.DataFrame(columns = ['SeriesID','Period','Month','value'])

# Merge all dataframes
df = df.merge(right = df_2014_2023,how = 'outer')
df = df.merge(right = df_2004_2013,how = 'outer')
df = df.merge(right = df_1994_2003,how = 'outer')
df = df.merge(right = df_1984_1993,how = 'outer')
df = df.merge(right = df_1974_1983,how = 'outer')

In [27]:
# Rename columns
df = df.rename(columns = {'SeriesID':'Region', 'value': 'CPI'})

                 Region Period      Month      CPI
0     U.S. city average   2023   December  306.746
1     U.S. city average   2023   November  307.051
2     U.S. city average   2023    October  307.671
3     U.S. city average   2023  September  307.789
4     U.S. city average   2023     August  307.026
...                 ...    ...        ...      ...
2651               West   1975      March     51.5
2652               West   1974   December     50.4
2653               West   1974  September     48.9
2654               West   1974       June     47.4
2655               West   1974      March     46.0

[2656 rows x 4 columns]

In [23]:
# Replace Regions codes with the actual name of the region
df['Region'] = df['Region'].str.replace(
    'CUUR0000SA0', 'U.S. city average').str.replace(
    'CUUR0100SA0', 'Northeast').str.replace(
    'CUUR0200SA0', 'Midwest').str.replace(
    'CUUR0300SA0', 'South').str.replace(
    'CUUR0400SA0', 'West')

In [35]:
# Export dataframe into a csv 
df.to_csv('data/cpi_by_region.csv')